<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <!-- 根据uid查询一个用户信息 -->
    <select id="selectUserById" parameterType="Integer"
            resultType="dbo.Student">
        select * from student where id = #{id}
    </select>
    <!-- 查询所有用户信息 -->
    <select id="selectAllUser" resultType="dbo.Student">
        select * from student
    </select>
    <!-- 添加一个用户，#{uname}为 com.mybatis.po.MyUser 的属性值 -->
    <insert id="addUser" parameterType="dbo.Student">
        insert into student (`name`,age,udpated_at,created_at)
        values(#{name},#{age},#{udpated_at},#{created_at})
    </insert>
    <!--修改一个用户 -->
    <update id="updateUser" parameterType="dbo.Student">
        update student set `name` =
                            #{name},age = #{age},udpated_at = #{udpated_at} where id = #{id}
    </update>
    <!-- 删除一个用户 -->
    <delete id="deleteUser" parameterType="Integer">
        delete from student where id
                                   = #{id}
    </delete>
</mapper>